include ../mixins/tagList.pug
.footer 
    .footer-images 
        img(src="https://media.istockphoto.com/id/1979672255/vi/anh/h%C3%ACnh-n%E1%BB%81n-g%E1%BB%91c-%C4%91%E1%BA%B9p-cho-c%C3%B4ng-vi%E1%BB%87c-s%C3%A1ng-t%E1%BA%A1o-v%E1%BB%9Bi-t%C3%B4ng-m%C3%A0u-x%C3%A1m-v%E1%BB%9Bi-m%E1%BB%99t-tr%C3%B2-ch%C6%A1i-b%C3%B3ng-tr%C3%AAn-t%C6%B0%E1%BB%9Dng.jpg?s=2048x2048&w=is&k=20&c=2XptgN8G-H8x2XV9re7WdAfG6VmvKQvSG9kxmw1bXGs=")
        img(src="https://media.istockphoto.com/id/1979672255/vi/anh/h%C3%ACnh-n%E1%BB%81n-g%E1%BB%91c-%C4%91%E1%BA%B9p-cho-c%C3%B4ng-vi%E1%BB%87c-s%C3%A1ng-t%E1%BA%A1o-v%E1%BB%9Bi-t%C3%B4ng-m%C3%A0u-x%C3%A1m-v%E1%BB%9Bi-m%E1%BB%99t-tr%C3%B2-ch%C6%A1i-b%C3%B3ng-tr%C3%AAn-t%C6%B0%E1%BB%9Dng.jpg?s=2048x2048&w=is&k=20&c=2XptgN8G-H8x2XV9re7WdAfG6VmvKQvSG9kxmw1bXGs=")
        img(src="https://media.istockphoto.com/id/1979672255/vi/anh/h%C3%ACnh-n%E1%BB%81n-g%E1%BB%91c-%C4%91%E1%BA%B9p-cho-c%C3%B4ng-vi%E1%BB%87c-s%C3%A1ng-t%E1%BA%A1o-v%E1%BB%9Bi-t%C3%B4ng-m%C3%A0u-x%C3%A1m-v%E1%BB%9Bi-m%E1%BB%99t-tr%C3%B2-ch%C6%A1i-b%C3%B3ng-tr%C3%AAn-t%C6%B0%E1%BB%9Dng.jpg?s=2048x2048&w=is&k=20&c=2XptgN8G-H8x2XV9re7WdAfG6VmvKQvSG9kxmw1bXGs=")
    .footer-menu 
        .widget-container
            .widget-title 
                p TAGS
            .tag-item
                +tagList(category)
        .widget-container
            .widget-title 
                p FOLLOW ON FACEBOOK
        .widget-container
            .widget-title 
                p SUBSCRIBE
            form(
                id="subscribe-form"
                name="subscribe-form"
                action="#"
                method="POST"
            ) 
                p Subscribe nếu bạn muốn theo dõi các bài viết tiếp theo của mình nhé!
                input(type="email" class="input-email" placeholder="Email Address")
                button(type="submit") SUBSCRIRE
